body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 16px;
}

input {
  padding: 8px;
  margin-top: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 120px;
}

.form-group input {
  flex: 1;
  padding: 8px;
}

button {
  display: block;
  padding: 12px 20px;
  margin: 20px auto;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: orchid;
}

flex-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  padding: 20px 40px;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: antiquewhite;
}

h2,
h3,
p {
  text-align: center;
}

.inline-fruit {
  display: inline;
  background-color: lightgreen;
  padding: 5px 10px;
  margin: 2px;
}

.block-fruit {
  display: block;
  background-color: lightblue;
  padding: 5px 10px;
  margin: 20px;
}
