body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 16px;
}

input {
  padding: 8px;
  margin-top: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 120px;
}

.form-group input {
  flex: 1;
  padding: 8px;
}

button {
  display: block;
  padding: 12px 20px;
  margin: 20px auto;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: orchid;
}
