body {
  font-family: monospace;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

label {
}
