body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 16px;
}

input {
  padding: 8px;
  margin-top: 5px;
}
